body {
	margin: 20px 20px 20px 20px;
    background-color: #333333;
    color: #dddddd;
    line-height: 20px;
}

input:focus {
    padding: 3px 3px;
    margin: 5px 0;
    border: 1px none #dddddd;
    background-color: #333333;
    color: #dddddd;
    border-radius: 4px;
}

form[name="Signin"] {

}